@page
@model Login
@{
    ViewData["Title"] = "Inicio de sesión";
}
<section class="d-flex">
    <form method="post" id="login-form" class="align-content-center d-grid p-5">
        <div class="form-group border rounded-pill align-content-center d-grid p-5">
            <div class="d-grid p-2">
                <h2 class="text-center">Inicia sesión</h2>
            </div>
            <div class="d-grid p-3">
                <label class="text-center p-2">Email</label>
                <input asp-for="loginUserViewModel.Email" class="text-center" type="text" name="email"></input>
                <span class="text-danger">@Html.ValidationMessage("Email")</span>
            </div>
            <div class="d-grid p-2">
                <label class="text-center p-2">Contraseña</label>
                <input asp-for="loginUserViewModel.Password" class="text-center" type="password" name="password"></input>
                <span class="text-danger">@Html.ValidationMessage("Password")</span>
            </div>
            <div class="d-grid p-2">
                <button class="btn btn-default border bg-light rounded-pill">Iniciar sesión</button>
            </div>
        </div>
    </form>
</section>

<style>
    section {
        align-items:center;
        justify-content:center;
    }

    form {
        flex-basis: 50rem;
    }
</style>