@page
@model PorfolioWeb.Pages.Porfolios.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Creación</h1>

<h4>Experiencia laboral</h4>
<hr />

<section class="d-flex">
    <form method="post" id="login-form" EncType="multipart/form-data" class="align-content-center d-grid p-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group p-3">
            <label asp-for="JobExperience.Title" class="control-label"></label>
            <input asp-for="JobExperience.Title" class="form-control" />
            <span asp-validation-for="JobExperience.Title" class="text-danger"></span>
        </div>
        <div class="form-group p-3">
            <label asp-for="JobExperience.Description" class="control-label"></label>
            <input asp-for="JobExperience.Description" class="form-control" />
            <span asp-validation-for="JobExperience.Description" class="text-danger"></span>
        </div>
        <div class="form-group p-3">
            <label asp-for="JobExperience.Link" class="control-label"></label>
            <input asp-for="JobExperience.Link" class="form-control" />
            <span asp-validation-for="JobExperience.Link" class="text-danger"></span>
        </div>
        <div class="form-group p-3">
            <label asp-for="mainImage" class="control-label"/>
            <input type="file" asp-for="mainImage"/>
            <span asp-validation-for="mainImage" class="text-danger"></span>
        </div>
        <div class="form-group p-3">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</section>

<div>
    <a asp-page="Index">Atrás</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
