@page
@model WebApplicationTest.Pages.PorfolioModel
@{
    ViewData["Title"] = "¡Titulaso!";
}
<section>
    <p class="porfolio-item">
        Aqui mi porfolio chavalada.
        Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.
        Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.
        Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.
        Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.Aqui mi porfolio chavalada.
    </p>
    <img class="porfolio-item" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2022/12/doodle-google-2894310.jpg?tf=1200x" alt="searcher" />
</section>
<section>
    <p class="porfolio-item">
        @Model.count
    </p>
    <img class="porfolio-item" src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2022/12/doodle-google-2894310.jpg?tf=1200x" alt="searcher" />
</section>
<style>
    section {
        display:flex;
        align-content:center;
        gap: 5px;
    }
    section .porfolio-item{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width:50%;
    }
</style>